/*  VARIABLES  */

:root {
  --nutmeg: hsl(14, 45%, 36%);
  --darkRaspberry: hsl(332, 51%, 32%);
  --white: hsl(0, 0%, 100%);
  --roseWhite: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --lightGrey: hsl(30, 18%, 87%);
  --wengeBrown: hsl(30, 10%, 34%);
  --darkCharcoal: hsl(24, 5%, 18%);
}

/*  RESET  */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 16px;
  background: var(--eggshell);
  font-family: "Outfit";
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "Young Serif";
  src: url("./fonts/young-serif/YoungSerif-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("./fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-style: normal;
}

.titles {
  font-family: "Young Serif";
  color: var(--nutmeg);
}

.container {
  width: 100%;
  min-width: 20rem;
  max-width: 45.9375rem;
}

.card-header {
  width: 100%;
  height: 10.625rem;
  background: url(./images/image-omelette.jpeg) no-repeat center/cover;
}

.card-recipe {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: left;
  justify-content: space-between;
  background: var(--white);
  height: max-content;
  padding: 2.5rem 1.875rem;
  color: var(--wengeBrown);
}

/*RECIPE PRESENTATION*/

.recipe__description {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.description__title {
  color: black;
  font-size: 2rem;
  letter-spacing: -0.125rem;
  @media (min-width: 23.4375rem) {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.description__paragraph {
  line-height: 1.375rem;
}

/* RECIPE PREPARATION TIME */

.recipe__preparation {
  min-height: 12.25rem;
  background: var(--roseWhite);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: space-between;
}

.preparation__title {
  font-size: 1.25rem;
  color: var(--darkRaspberry);
}

.preparation__times,
.ingredients__items,
.instructions__steps {
  font-size: 0.875rem;
  width: 78%;
  display: flex;
  flex-direction: column;
  padding-left: 1.5625rem;
  gap: 1.125rem;
  line-height: 1.25rem;
}

.preparation__times > li,
.ingredients__items > li,
.instructions__steps > li {
  padding-left: 1.125rem;
}

/*  RECIPE INGREDIENTS  */

.recipe__ingredients,
.recipe__instructions,
.recipe__nutrition-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.ingredients__title,
.instructions__title,
.nutrition__title {
  font-size: 1.75rem;
}

/*   RECIPE INSTRUCTIONS */

.instructions__steps {
  list-style-type: decimal;
}

.instructions__steps {
  width: 90%;
}

/*  RECIPE NUTRITION INFORMATION  */

.nutrition__description {
  width: 83%;
  text-align: left;
  font-size: .875rem;
}

.nutrition__details-container {
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
}

.nutrition__details {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.nutrition__details > p {
  width: 3.625rem;
}

/*  FOOTER  */

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
